tunnel: gauss-k8s
credentials-file: /etc/cloudflared/credentials/credentials.json
metrics: 0.0.0.0:2000
no-autoupdate: true

warp-routing:
  enabled: true

ingress:
  - hostname: hello.vanillax.me
    service: hello_world
  - hostname: proxmox.vanillax.me
    service: https://proxmox.proxmox.svc.cluster.local:443
    originRequest:
      originServerName: proxmox.vanillax.me
  - hostname: truenas2.vanillax.me
    service: https://truenas2.truenas.svc.cluster.local:443
    originRequest:
      originServerName: truenas2.vanillax.me
  - hostname: "*.vanillax.me"
    service: https://cilium-gateway-stonegarden.gateway.svc.cluster.local:443
    originRequest:
      originServerName: "*.vanillax.me"
  - hostname: vanillax.me
    service: https://cilium-gateway-stonegarden.gateway.svc.cluster.local:443
    originRequest:
      originServerName: vanillax.me
  - service: http_status:404