apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: monitoring
  namespace: argocd
  labels:
    dev.stonegarden: monitoring
spec:
  generators:
    - git:
        repoURL: https://github.com/mitchross/k3s-argocd-proxmox
        revision: HEAD
        directories:
          - path: infra/monitoring/*
          - path: infra/monitoring/project.yaml
            exclude: true
          - path: infra/monitoring/application-set.yaml
            exclude: true
  template:
    metadata:
      name: '{{ path.basename }}'
      labels:
        dev.stonegarden: monitoring
    spec:
      project: monitoring
      source:
        plugin:
          name: kustomize-build-with-helm
        repoURL: https://github.com/mitchross/k3s-argocd-proxmox
        targetRevision: HEAD
        path: '{{ path }}'
      destination:
        name: in-cluster
        namespace: monitoring
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true 