apiVersion: v1
kind: ConfigMap
metadata:
  name: immich-config
  namespace: immich
data:
  # Database configuration
  DB_HOSTNAME: "immich-postgres-external.cloudnative-pg.svc.cluster.local"
  DB_DATABASE_NAME: "immich"
  DB_USERNAME: "immich"
  DB_SCHEMA: "immich"
  # Redis configuration
  REDIS_HOSTNAME: "redis-master.redis-instance.svc.cluster.local"
  REDIS_PORT: "6379"
  REDIS_USERNAME: ""
  REDIS_PASSWORD: ""
  # Web interface configuration
  IMMICH_WEB_URL: "https://photos.vanillax.me"
  IMMICH_SERVER_URL: "https://photos.vanillax.me/api"
  PUBLIC_IMMICH_SERVER_URL: "https://photos.vanillax.me/api"
  # Application configuration
  NODE_ENV: "production"
  LOG_LEVEL: "debug"
  IMMICH_MACHINE_LEARNING_URL: "http://immich-machine-learning:3003"
  # Storage configuration
  UPLOAD_LOCATION: "/usr/src/app/upload"
  # Trash configuration
  IMMICH_TRASH_ENABLED: "true"
  IMMICH_TRASH_DAYS: "30"
  # Storage template
  IMMICH_STORAGE_TEMPLATE_ENABLED: "true"
  IMMICH_STORAGE_TEMPLATE: "{{y}}/{{y}}-{{MM}}-{{dd}}/{{filename}}"
  # Mount check configuration
  IMMICH_IGNORE_MOUNT_CHECK_ERRORS: "true"
