apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
commonLabels:
  app.kubernetes.io/name: immich
  app.kubernetes.io/managed-by: argocd
resources:
  - namespace.yaml
  - configmap.yaml
  - externalsecret.yaml
  - httproute.yaml
  - pvc/immich-data-pvc.yaml
  - pvc/library-pvc.yaml
  - pvc/ml-cache-pvc.yaml
