prometheus:
  prometheusSpec:
    nodeSelector:
      topology.kubernetes.io/zone: vanillax-ai
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: openebs-zfspv
          volumeName: pv-prometheus
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 10G
          selector:
            matchLabels:
              app: prometheus
