apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama-webui
  namespace: ollama-webui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama-webui
  template:
    metadata:
      labels:
        app: ollama-webui
    spec:
      containers:
        - name: ollama-webui
          image: ghcr.io/ollama-webui/ollama-webui:main
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 500m
              memory: 1000Mi
            limits:
              memory: 8000Mi
          envFrom:
            - configMapRef:
                name: ollama-webui-configmap