
infra/controllers/external-secrets/external-secrets-token.env
tools/venv/
*.ds_store
apps/home/.DS_Store
apps/home/.DS_Store
apps/home/.DS_Store
/infrastructure/controllers/argocd/charts
1password-credentials.json
1password-credentials.base64
tunnel-credentials.json
*.yaml
*.lock
/omni/apps/kube-system/cilium/charts
