
# macOS / Windows specific
.DS_Store
Thumbs.db

# Python Virtual Environment
tools/venv/

# Binaries
bin
/flux
*.iso

# Temp folders
.temp*
.private/
.logs/
.task/

# Terraform
.terraform*
terraform.tfstate*
*.tfstate
.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credentials / Secrets
credentails.*
infra/controllers/external-secrets/external-secrets-token.env

# Sops
.secrets*
.decrypted~*
*.agekey
sops-key*
# Kubernetes
kubeconfig*
kubernetes/ # Assuming this is generated output
talosconfig*
*.pub
*.key

# Extras
config.xml
*.pid
