apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cert-vanillax.yaml
 # - gateway-class.yaml
  - ns.yaml
  - gw-external.yaml
  - gw-internal.yaml
  - gw-tcp-postgres.yaml
generatorOptions:
  disableNameSuffixHash: true
