apiVersion: v1
kind: Service
metadata:
  name: libreddit
  namespace: libreddit
spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app.kubernetes.io/name: libreddit