apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
helmCharts:
  - name: temporal
    repo: https://go.temporal.io/helm-charts
    version: 0.55.0
    releaseName: temporal
    namespace: temporal
    includeCRDs: true
    valuesFile: values.yaml
