apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kestra
commonLabels:
  app.kubernetes.io/name: kestra
  app.kubernetes.io/managed-by: argocd
resources:
  - namespace.yaml
  - httproute.yaml
  - networkpolicy.yaml
helmCharts:
  - name: kestra
    repo: https://helm.kestra.io/
    version: 0.22.12
    releaseName: kestra
    namespace: kestra
    valuesFile: values.yaml
    includeCRDs: true
