apiVersion: v1
kind: Service
metadata:
  name: archivist-es
  namespace: tubearchivist
spec:
  type: LoadBalancer
  externalIPs:
  - 192.168.10.34  # Static IP from the Cilium IP pool
  ports:
  - name: http
    port: 9200
    targetPort: 9200
  - name: transport
    port: 9300
    targetPort: 9300
  selector:
    app: archivist-es
