apiVersion: apps/v1
kind: Deployment
metadata:
  name: wyze-bridge
  namespace: wyze-bridge
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wyze-bridge
  template:
    metadata:
      labels:
        app: wyze-bridge
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: wyze-bridge
        image: ghcr.io/idisposable/docker-wyze-bridge:3.12.2
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 1935
        - containerPort: 8554
        - containerPort: 8888
        - containerPort: 8889
        - containerPort: 8189
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: wyze-bridge-config
        - secretRef:
            name: wyze-bridge-secrets
        volumeMounts:
        - name: wyze-cache
          mountPath: /config
      volumes:
      - name: wyze-cache
        emptyDir: {}
