apiVersion: apps/v1
kind: Deployment
metadata:
  name: comfyui
  namespace: comfyui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: comfyui
  template:
    metadata:
      labels:
        app: comfyui
      annotations:
        reloader.stakater.com/auto: "true"
    spec:
      runtimeClassName: nvidia
      initContainers:
        - name: init-permissions
          image: busybox
          command: ['sh', '-c']
          args:
            - |
              mkdir -p /cache/.cache/pip /cache/.cache/huggingface;
              chmod -R 777 /cache;
          volumeMounts:
            - name: cache-storage
              mountPath: /cache
      containers:
        - name: comfyui
          image: ghcr.io/mitchross/comfyui-flux-flux:latest@sha256:67feb29f550ac86cd4c7f24d943fdbc50012bcd4cf789a29acb56e885d46dd0a  # Will be updated with your new image
          args: ["--listen", "0.0.0.0"]
          imagePullPolicy: Always
          ports:
            - containerPort: 8188
              name: http
          resources:
            requests:
              cpu: 4000m
              memory: 16Gi
            limits:
              cpu: 8000m
              memory: 38Gi
              nvidia.com/gpu: 2
          env:
            - name: NVIDIA_VISIBLE_DEVICES
              value: "all"
            - name: NVIDIA_DRIVER_CAPABILITIES
              value: "compute,utility"
            - name: LOW_VRAM
              value: "false"
            - name: HF_TOKEN
              valueFrom:
                secretKeyRef:
                  name: comfyui-secret
                  key: HF_TOKEN
            - name: PIP_CACHE_DIR
              value: "/opt/comfyui/cache/.cache/pip"
            - name: TRANSFORMERS_CACHE
              value: "/opt/comfyui/cache/.cache/huggingface"
            - name: HOME
              value: "/opt/comfyui"
          volumeMounts:
            - name: models-storage
              mountPath: /opt/comfyui/models
            - name: config-storage
              mountPath: /opt/comfyui/config
            - name: workspace
              mountPath: /opt/comfyui/output
            - name: cache-storage
              mountPath: /opt/comfyui/cache
            - name: nvidia-driver
              mountPath: /usr/local/nvidia
              readOnly: true
      volumes:
        - name: models-storage
          persistentVolumeClaim:
            claimName: comfyui-models-pvc
        - name: config-storage
          persistentVolumeClaim:
            claimName: comfyui-config-pvc
        - name: workspace
          persistentVolumeClaim:
            claimName: comfyui-workspace-pvc
        - name: cache-storage
          persistentVolumeClaim:
            claimName: comfyui-cache-pvc
        - name: nvidia-driver
          hostPath:
            path: /usr/local/nvidia
      nodeSelector:
         nvidia.com/gpu.present: "true"