apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: comfyui
  namespace: comfyui
spec:
  serviceName: "comfyui"
  replicas: 1
  selector:
    matchLabels:
      app: comfyui
  template:
    metadata:
      labels:
        app: comfyui
      annotations:
        reloader.stakater.com/auto: "true"
    spec:
      runtimeClassName: nvidia
      initContainers:
        - name: init-permissions
          image: busybox
          command: ['sh', '-c']
          args:
            - |
              mkdir -p /cache/.cache/pip /cache/.cache/huggingface /cache/comfyui-logs;
              chmod -R 777 /cache;
          volumeMounts:
            - name: cache-storage
              mountPath: /cache
      containers:
        - name: comfyui
          image: ghcr.io/mitchross/k3s-argocd-proxmox-comfyui:v1.0.2
          args: ["--listen", "0.0.0.0"]
          imagePullPolicy: Always
          ports:
            - containerPort: 8188
              name: http
          resources:
            requests:
              cpu: 4000m
              memory: 16Gi
            limits:
              cpu: 8000m
              memory: 38Gi
              nvidia.com/gpu: 2
          env:
            - name: NVIDIA_VISIBLE_DEVICES
              value: "all"
            - name: NVIDIA_DRIVER_CAPABILITIES
              value: "compute,utility"
            - name: PIP_CACHE_DIR
              value: "/cache/.cache/pip"
            - name: TRANSFORMERS_CACHE
              value: "/cache/.cache/huggingface"
            - name: HOME
              value: "/cache"
          volumeMounts:
            - name: models-storage
              mountPath: /usr/local/ComfyUI/models
            - name: config-storage
              mountPath: /usr/local/ComfyUI/config
            - name: workspace
              mountPath: /usr/local/ComfyUI/output
            - name: cache-storage
              mountPath: /cache
            - name: nvidia-driver
              mountPath: /usr/local/nvidia
              readOnly: true
      volumes:
        - name: workspace
          persistentVolumeClaim:
            claimName: comfyui-workspace-pvc
        - name: cache-storage
          persistentVolumeClaim:
            claimName: comfyui-cache-pvc
        - name: nvidia-driver
          hostPath:
            path: /usr/local/nvidia
      nodeSelector:
         nvidia.com/gpu.present: "true"
  volumeClaimTemplates:
    - metadata:
        name: models-storage
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "openebs-zfspv-immediate"
        resources:
          requests:
            storage: 500Gi
    - metadata:
        name: config-storage
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "openebs-zfspv-immediate"
        resources:
          requests:
            storage: 10Gi