
apiVersion: apps/v1
kind: Deployment
metadata:
  name: comfyui
  namespace: comfyui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: comfyui
  template:
    metadata:
      labels:
        app: comfyui
    spec:
      containers:
      - name: comfyui
        image: frefrik/comfyui-flux:latest
        ports:
        - containerPort: 8188
        env:
        - name: CLI_ARGS
          value: ""
        - name: HF_TOKEN
          valueFrom:
            secretKeyRef:
              name: comfyui-secret
              key: HF_TOKEN
        - name: LOW_VRAM
          value: "false"
        volumeMounts:
        - name: comfyui-data
          mountPath: /app
        - name: gpu-config
          mountPath: /app/gpu_config.json
          subPath: gpu_config.json
        resources:
          limits:
            nvidia.com/gpu: 2  # Updated to match cuda_devices config
      volumes:
      - name: comfyui-data
        persistentVolumeClaim:
          claimName: comfyui-data
      - name: gpu-config
        configMap:
          name: comfyui-configmap
