apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg-zalando

resources:
  - namespace.yaml
  - configmap.yaml
  - externalsecret.yaml
  - postgres-operator-ui-httproute.yaml
  - postgres-operator-ui-service.yaml

helmCharts:
  - name: postgres-operator
    repo: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
    releaseName: zalando-postgres
    namespace: database
    includeCRDs: true
    version: 1.13.0
    valuesFile: postgres-operator-values.yaml

  - name: postgres-operator-ui
    repo: https://opensource.zalando.com/postgres-operator/charts/postgres-operator-ui
    releaseName: zalando-postgres-operator-ui
    namespace: database
    version: 1.13.0
    valuesFile: postgres-operator-ui-values.yaml
