apiVersion: apps/v1
kind: Deployment
metadata:
  name: searxng
  namespace: searxng
  labels:
    app.kubernetes.io/name: searxng
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: searxng
  strategy:
    type: RollingUpdate
  revisionHistoryLimit: 1
  template:
    metadata:
      namespace: searxng
      labels:
        app.kubernetes.io/name: searxng
    spec:
      initContainers:
        - name: set-volume-ownership
          image: busybox:1.36
          command: ["sh", "-c", "chown -R 977:977 /etc/searxng"]
          volumeMounts:
            - name: searxng-data
              mountPath: /etc/searxng
          securityContext:
            runAsUser: 0
      containers:
        - name: searxng
          image: searxng/searxng:latest@sha256:a6ad4d72e07b3dc7b6cd80ed6d08e215fcea81b8165c9eeb3bf2b4c27a601f31
          command:
            - /bin/sh
            - -c
            - |
              cp -L /config-ro/* /etc/searxng/
              cd /usr/local/searxng && ./docker-entrypoint.sh
          ports:
            - containerPort: 8080
              name: http
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 60
          volumeMounts:
            - name: config-ro
              mountPath: /config-ro
              readOnly: true
            - name: searxng-data
              mountPath: /etc/searxng
      volumes:
        - name: config-ro
          configMap:
            name: searxng-config-settings
        - name: searxng-data
          emptyDir: {}
