apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - redis-pvc.yaml
  - redis.yaml
  - configmap.yaml
configMapGenerator:
  - name: searxng-config-settings
    files:
      - settings.yml=config/settings.yaml
      - limiter.toml=config/limiter.toml
      - favicons.toml=config/favicons.toml
    namespace: searxng
generatorOptions:
  disableNameSuffixHash: true
