apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - redis-pvc.yaml
  - redis.yaml
  - configmap.yaml
  - secret.yaml
configMapGenerator:
  - name: searxng-config-settings
    files:
      - config/settings.yaml
      - config/limiter.toml
    options:
      disableNameSuffixHash: true
namespace: searxng
