apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-secrets

resources:
  - external-secret.yaml
  - cluster-secret-store.yaml
  - ns.yaml

  
helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    releaseName: external-secrets
    version: 0.12.1
    valuesFile: values.yaml
    

