replicaCount: 1
serviceAccount:
  create: true
certController:
  create: true
webhook:
  create: true
  certManager:
    enabled: true
    certificate:
      secretName: external-secrets-webhook
      duration: 8760h
      renewBefore: 360h
  port: 10250
  hostNetwork: false
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      cpu: 10m
      memory: 32Mi