kind: Deployment
apiVersion: apps/v1
metadata:
  name: tubearchivist
  namespace: tubearchivist
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: tubearchivist
  template:
    metadata:
      labels:
        app: tubearchivist
    spec:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      initContainers:
      - name: wait-for-es
        image: busybox
        command:
        - /bin/sh
        - -c
        - |
          until wget --user=elastic --password=verysecret -q --spider 'http://archivist-es:9200/_cluster/health?wait_for_status=yellow&timeout=1s'; do
            echo "Waiting for Elasticsearch..."
            sleep 2
          done
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 50m
            memory: 64Mi
      containers:
      - name: tubearchivist
        image: bbilly1/tubearchivist:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 8000
        envFrom:
        - configMapRef:
            name: tubearchivist-env
        volumeMounts:
        - name: config
          mountPath: /config
        - name: youtube
          mountPath: /youtube
        - name: cache
          mountPath: /cache
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: tubearchivist-config-pvc
      - name: youtube
        persistentVolumeClaim:
          claimName: tubearchivist-media-pvc
      - name: cache
        persistentVolumeClaim:
          claimName: tubearchivist-cache-pvc
