kind: Deployment
apiVersion: apps/v1
metadata:
  name: tubearchivist
  namespace: tubearchivist
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: tubearchivist
  template:
    metadata:
      labels:
        app: tubearchivist
    spec:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      initContainers:
      - name: dns-check
        image: busybox
        command: ["sh", "-c", "nslookup archivist-es.tubearchivist.svc.cluster.local"]
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 50m
            memory: 64Mi
      containers:
      - name: tubearchivist
        image: bbilly1/tubearchivist:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 8000
        envFrom:
        - configMapRef:
            name: tubearchivist-env
        volumeMounts:
        - name: config
          mountPath: /config
        - name: youtube
          mountPath: /youtube
        - name: cache
          mountPath: /cache
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
        lifecycle:
          postStart:
            exec:
              command: ["sh", "-c", "apk add --no-cache bind-tools"]
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: tubearchivist-config-pvc
      - name: youtube
        persistentVolumeClaim:
          claimName: tubearchivist-media-pvc
      - name: cache
        persistentVolumeClaim:
          claimName: tubearchivist-cache-pvc
