apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ollama
  namespace: ollama
spec:
  serviceName: "ollama"
  replicas: 1
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      runtimeClassName: nvidia
      containers:
        - name: ollama
          image: ollama/ollama:0.4.7


          ports:
            - containerPort: 11434
          resources:
            requests:
              cpu: 4000m
              memory: 16Gi
            limits:
              cpu: 8000m
              memory: 38Gi
              nvidia.com/gpu: 2  # Request 2 GPUs
          securityContext:
            privileged: true
          env:
            - name: NVIDIA_VISIBLE_DEVICES
              value: "all"
            - name: NVIDIA_DRIVER_CAPABILITIES
              value: "compute,utility"
          volumeMounts:
            - name: models
              mountPath: /root/.ollama
            - name: config
              mountPath: /root/.ollama/ollama.json
              subPath: ollama.json
            - name: nvidia-driver
              mountPath: /usr/local/nvidia
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: ollama-configmap
        - name: nvidia-driver
          hostPath:
            path: /usr/local/nvidia
      nodeSelector:
         nvidia.com/gpu.present: "true"
  volumeClaimTemplates:
    - metadata:
        name: models
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "zfs-local"
        resources:
          requests:
            storage: 250Gi  # Adjust this size as needed