storageClasses:
- name: smb-csi
  defaultClass: false
  parameters:
    source: "//192.168.10.133/k8s"
    csi.storage.k8s.io/node-stage-secret-name: "smbcreds"
    csi.storage.k8s.io/node-stage-secret-namespace: "csi-driver-smb"
  mountOptions:
    - dir_mode=0777
    - file_mode=0777
    - uid=1000
    - gid=1000
    - cache=strict
    - nosharesock