apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
  - fakesecret.yaml

configMapGenerator:
  - name: searxng-config-settings
    files:
    - config/settings.yaml
    - limiter.toml=./resources/limiter.toml
    options:
      disableNameSuffixHash: true


namespace: searxng