apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: auth
  namespace: argocd
  labels:
    dev.stonegarden: auth
spec:
  generators:
    - git:
        repoURL: https://github.com/mitchross/k3s-argocd-proxmox
        revision: HEAD
        directories:
          - path: infra/auth/*
  template:
    metadata:
      name: '{{ path.basename }}'
      labels:
        dev.stonegarden: controllers
    spec:
      project: auth
      source:
        plugin:
          name: kustomize-build-with-helm
        repoURL: https://github.com/mitchross/k3s-argocd-proxmox
        targetRevision: HEAD
        path: '{{ path }}'
      destination:
        name: in-cluster
        namespace: argocd
      syncPolicy:
        automated:
          selfHeal: false
          prune: true
