apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
commonLabels:
  app.kubernetes.io/name: headlamp
  app.kubernetes.io/managed-by: argocd
resources:
  - namespace.yaml
  - httproute.yaml
  - serviceaccount.yaml
  - clusterrolebinding.yaml
  - token-job.yaml
helmCharts:
  - name: headlamp
    repo: https://headlamp-k8s.github.io/headlamp/
    version: 0.21.0
    releaseName: my-headlamp
    namespace: kube-system
    includeCRDs: true
    valuesFile: values.yaml 