apiVersion: apps/v1
kind: Deployment
metadata:
  name: llamacpp
  namespace: llamacpp
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: llamacpp
  template:
    metadata:
      labels:
        app: llamacpp
    spec:
      runtimeClassName: nvidia
      nodeSelector:
        feature.node.kubernetes.io/pci-0300_10de.present: "true"
      tolerations:
        - key: "gpu"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
      containers:
        - name: llamacpp
          image: ghcr.io/ggml-org/llama.cpp:full-cuda-b6089
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh", "-c"]
          args:
            - |
                  /usr/bin/llama-server -m /models/30b-a3b-instruct-2507-q4_K_M.gguf -c 4096 --host 0.0.0.0 --port 8080 --n-gpu-layers 1
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "4"
              memory: 32Gi
            limits:
              nvidia.com/gpu: 1
          volumeMounts:
            - name: models
              mountPath: /models
      volumes:
        - name: models
          persistentVolumeClaim:
            claimName: llamacpp-storage-pvc