apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
commonLabels:
  app.kubernetes.io/name: immich
  app.kubernetes.io/managed-by: argocd
resources:
  - common
  - immich-server
  - immich-machine-learning
