apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gpu-device-plugin

resources:
- namespace.yaml

helmCharts:
- name: nvidia-device-plugin
  repo: https://nvidia.github.io/k8s-device-plugin
  version: 0.13.0
  releaseName: nvidia-device-plugin
  namespace: gpu-device-plugin
  includeCRDs: true
  valuesInline:
    runtimeClassName: nvidia
