apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ns.yaml
helmCharts:
  - name: tempo
    repo: https://grafana.github.io/helm-charts
    version: 1.23.3 # Latest
    releaseName: tempo
    valuesInline:
      tempo:
        storage:
          trace:
            backend: s3
            s3:
              bucket: tempo-bucket
              endpoint: minio.loki-stack.svc:9000
              access_key: minio
              secret_key: minio123
              insecure: true
        retention: 72h
