proxmox-talos-cluster-talos-master-00.yaml
proxmox-talos-cluster-talos-master-01.yaml
proxmox-talos-cluster-talos-master-02.yaml
proxmox-talos-cluster-talos-worker-00.yaml
proxmox-talos-cluster-talos-worker-01.yaml
proxmox-talos-cluster-talos-worker-02.yaml
talosconfig
