apiVersion: apps/v1
kind: Deployment
metadata:
  name: reubah
  namespace: reubah
spec:
  replicas: 1
  selector:
    matchLabels:
      app: reubah
  template:
    metadata:
      labels:
        app: reubah
    spec:
      containers:
        - name: reubah
          image: ghcr.io/dendianugerah/reubah@sha256:d23bc33d67bae766ec71e508f628a81b9f469fd4afd06c238a23b3803f0748d8
          ports:
            - containerPort: 8081
          volumeMounts:
            - name: doc-temp
              mountPath: /tmp
          env:
            - name: PORT
              value: "8081"
      volumes:
        - name: doc-temp
          persistentVolumeClaim:
            claimName: reubah-doc-temp-pvc