apiVersion: v1
kind: Service
metadata:
  name: postgres-external
  namespace: cloudnative-pg
  annotations:
    lbipam.cilium.io/ips: "192.168.10.47"
spec:
  type: LoadBalancer
  loadBalancerClass: io.cilium/l2-announcer
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgresql
  selector:
    cnpg.io/cluster: postgres-cluster
    cnpg.io/instanceRole: primary
