apiVersion: v1
kind: Service
metadata:
  name: postgres-external
  namespace: cloudnative-pg
  annotations:
    lbipam.cilium.io/ips: "192.168.10.47"
spec:
  type: LoadBalancer
  loadBalancerClass: io.cilium/l2-announcer
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
    - name: postgres
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    cnpg.io/cluster: single-example
    cnpg.io/instanceRole: primary
