loki:
  auth_enabled: false
  storage:
    type: filesystem
  persistence:
    enabled: true
    size: 10Gi
    storageClassName: local-storage

promtail:
  enabled: true
  config:
    serverPort: 3101
    clients:
      - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
    snippets:
      extraScrapeConfigs: |
        - job_name: envoy
          kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - kube-system
            selectors:
              - role: pod
                label: k8s-app=cilium-envoy
          relabel_configs:
          - source_labels: [__meta_kubernetes_pod_name]
            regex: cilium-envoy.*
            action: keep
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container_name
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod_name
          - source_labels: [__meta_kubernetes_pod_uid]
            target_label: pod_uid
          - action: replace
            source_labels: [__meta_kubernetes_pod_name, __meta_kubernetes_pod_container_name, __meta_kubernetes_pod_uid]
            regex: (.+);(.+);(.+)
            target_label: __path__
            replacement: /var/log/pods/*$3/$2/*.log
          pipeline_stages:
          - json:
              expressions:
                method: method
                request_path: request_path
                response_code: response_code
                request_headers: request_headers
                authority: authority
                bytes_sent: bytes_sent
                duration: duration
                user_agent: user_agent
          - json:
              expressions:
                cf_ip: request_headers."Cf-Connecting-Ip"
                cf_country: request_headers."Cf-Ipcountry"
                cf_ray: request_headers."Cf-Ray"
                cf_city: request_headers."CF-IPCITY"
                cf_continent: request_headers."CF-IPCONTINENT"
                cf_latitude: request_headers."CF-IPLATITUDE"
                cf_longitude: request_headers."CF-IPLONGITUDE"
                cf_region: request_headers."CF-IPREGION"
                cf_device: request_headers."CF-Device-Type"
                accept_language: request_headers."Accept-Language"
          - labels:
              method:
              request_path:
              response_code:
              authority:
              cf_ip:
              cf_country:
              cf_city:
              cf_region:
              cf_device:
              cf_latitude:
              cf_longitude:
              accept_language: