apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ns.yaml
  - ../../projects.yaml
  - http-route.yaml
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 8.1.1
    releaseName: "argocd"
    namespace: argocd
    valuesFile: values.yaml
