apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openebs

resources:
  - namespace.yaml
  - zfs-storage-class.yaml
  # Uncomment the following line once the CRD issue is resolved
  # - zfs-storage-pool-claim.yaml

helmCharts:
  - name: openebs
    repo: https://openebs.github.io/charts
    releaseName: openebs
    namespace: openebs
    includeCRDs: true
    version: 3.10.0
    valuesFile: values.yaml