# Enable OpenEBS hostpath storage class
storageClass:
  hostpath:
    enabled: true
    isDefaultClass: false

# Enable OpenEBS LocalPV device storage class
localprovisioner:
  enabled: true
  deviceClass:
    enabled: true
    isDefaultClass: false

# Enable and configure ZFS LocalPV
zfs-localpv:
  enabled: true
  pluginImage: "openebs/zfs-driver"
  pluginTag: "2.4.0"
  zfsPlugin:
    image:
      registry: ""
      repository: openebs/zfs-driver
      tag: "2.6.0"
      pullPolicy: IfNotPresent
  zfsNode:
    image:
      registry: ""
      repository: openebs/zfs-driver
      tag: "2.6.0"
      pullPolicy: IfNotPresent
  zfsController:
    image:
      registry: ""
      repository: openebs/zfs-driver
      tag: "2.6.0"
      pullPolicy: IfNotPresent

# Enable ZFS CSI driver
csi:
  zfs:
    enabled: true

# You can add more configurations as needed