use_default_settings: true
server:
  secret_key: "39235b560d84ae66210f4fb0d0b43104fe35167c97fab9cc81b8b341d70d8326"
  limiter: true
  image_proxy: true
  method: GET # https://github.com/searxng/searxng/pull/3619
  public_instance: false
redis:
  url: "redis://redis.searxng.svc.cluster.local:6379/0"
search:
  autocomplete: duckduckgo
  favicon_resolver: duckduckgo
  languages:
    - all
    - en
    - en-US
  formats:
    - html
    - json
general:
  instance_name: Vanillax Search
ui:
  default_theme: simple
  infinite_scroll: true
  query_in_title: true
  results_on_new_tab: true
  static_use_hash: true
  theme_args:
    simple_style: auto
categories_as_tabs:
  general:
  images:
  videos:
  map:
enabled_plugins:
  - Basic Calculator
  - Hash plugin
  - Open Access DOI rewrite
  - Self Informations
  - Tracker URL remover
  - Unit converter plugin
hostnames:
  high_priority:
    - (.*)\/blog\/(.*)
    - (.*\.)?wikipedia.org$
    - (.*\.)?github.com$
    - (.*\.)?reddit.com$
    - (.*\.)?docker.com$
    - (.*\.)?archlinux.org$
    - (.*\.)?stackoverflow.com$
    - (.*\.)?askubuntu.com$
    - (.*\.)?superuser.com$
