apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate-configmap
  namespace: frigate
data:
  config.yaml: |
    mqtt:
      host: mosquitto.home
      port: 1883
      topic_prefix: frigate
      user: mqtt_user
      password: "{FRIGATE_MQTT_PASSWORD}"
      
    database:
      path: /config/frigate.db
      


    timestamp_style:
      position: "tr"
      format: "%m/%d/%Y %H:%M:%S"
      color:
        red: 255
        green: 255
        blue: 255

    snapshots:
      enabled: true
      timestamp: true
      bounding_box: true
      retain:
        default: 14
      
    motion:
      threshold: 45
      contour_area: 20
      
    record:
      enabled: True
      retain:
        days: 3
        mode: all
      alerts:
        retain:
          days: 30
          mode: motion
      detections:
        retain:
          days: 30
          mode: motion
      
    detectors:
      coral:
        type: edgetpu
        device: usb

    cameras:
      backyard:
        enabled: True
        ffmpeg:

          inputs:
            - path: rtsp://nestmtx.vanillax.me:8554/backyard
              roles:
                - detect
                - record
        detect:
          enabled: true

      garage-inside:
        enabled: True
        ffmpeg:

          inputs:
            - path: rtsp://nestmtx.vanillax.me:8554/garage-inside
              roles:
                - detect
                - record
        detect:
          enabled: true

      shed: 
        enabled: True
        ffmpeg:
         
          inputs:
            - path: rtsp://192.168.10.46:8554/shed
              roles:
                - detect
                - record
        detect:
          enabled: true

      driveway:
        enabled: True
        ffmpeg:
       
          inputs:
            - path: rtsp://192.168.10.46:8554/driveway
              roles:
                - detect
                - record
        detect:
          enabled: true