apiVersion: apps/v1
kind: Deployment
metadata:
  name: frigate
  namespace: frigate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frigate
  template:
    metadata:
      labels:
        app: frigate
    spec:
      runtimeClassName: nvidia
      nodeSelector:
        google.feature.node.kubernetes.io/coral: "true"
        nvidia.com/gpu.present: "true"
      containers:
        - name: frigate
          image: ghcr.io/blakeblackshear/frigate:0.15.0-beta4
          env:
            - name: FRIGATE_MQTT_USER
              valueFrom:
                secretKeyRef:
                  name: mqtt-secret
                  key: mqtt-username
            - name: FRIGATE_MQTT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mqtt-secret
                  key: mqtt-password
            - name: NVIDIA_VISIBLE_DEVICES
              value: "all"
            - name: NVIDIA_DRIVER_CAPABILITIES
              value: "compute,utility,video"
          resources:
            requests:
              cpu: 1000m
              memory: 2000M
            limits:
              memory: 4000M
              nvidia.com/gpu: 1
          securityContext:
            privileged: true
          livenessProbe:
            httpGet:
              path: /api/version
              port: 5000
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/version
              port: 5000
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          volumeMounts:
            - name: config
              mountPath: /config
            - name: config-file
              mountPath: /config/config.yml
              subPath: config.yaml
            - name: media
              mountPath: /media
            - name: cache
              mountPath: /dev/shm
            - name: usb
              mountPath: /dev/bus/usb
            - name: nvidia-driver
              mountPath: /usr/local/nvidia
              readOnly: true
      volumes:
        - name: config-file
          configMap:
            name: frigate-configmap
        - name: media
          persistentVolumeClaim:
            claimName: frigate-media
        - name: config
          persistentVolumeClaim:
            claimName: frigate-config-pvc
        - name: cache
          emptyDir:
            medium: Memory
            sizeLimit: 4Gi
        - name: usb
          hostPath:
            path: /dev/bus/usb
            type: Directory
        - name: nvidia-driver
          hostPath:
            path: /usr/local/nvidia