apiVersion: v1
kind: Service
metadata:
  name: postgres-external
  namespace: cloudnative-pg
  annotations:
    io.cilium/lb-ipam-ips: "192.168.10.47"
spec:
  type: LoadBalancer
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgresql
  selector:
    postgresql: postgres-cluster
    role: primary
