apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cnpg-zalando

resources:
  - ns.yaml
  - config-map.yaml
  - external-secret.yaml
  - data-pvc.yaml
  - backup-pvc.yaml
  - ui-service.yaml
  - http-route.yaml
  - demo-db-secret.yaml
  - demo-db.yaml

helmCharts:
  - name: postgres-operator
    repo: https://opensource.zalando.com/postgres-operator/charts/postgres-operator
    releaseName: zalando-postgres
    namespace: cnpg-zalando
    includeCRDs: true
    version: 1.14.0
    valuesFile: postgres-operator-values.yaml
  - name: postgres-operator-ui
    repo: https://opensource.zalando.com/postgres-operator/charts/postgres-operator-ui
    releaseName: zalando-postgres-operator-ui
    namespace: cnpg-zalando
    version: 1.13.0
    valuesFile: postgres-operator-ui-values.yaml