configKubernetes:
  secret_name_template: "{username}.{cluster}.credentials"
  enable_pod_antiaffinity: false
  pod_environment_configmap: "postgres-operator-config"
  watched_namespace: "cnpg-zalando"
  pod_service_account_name: "postgres-pod"
  pod_terminate_grace_period: "5m"
  infrastructure_roles_secret_name: "postgres.postgres-superuser.credentials"
rbac:
  create: true
  createRole: true
  useExistingRole: false
  namespaceLabelKey: "cnpg-zalando"
  clusterRoleBindingNamespace: "cnpg-zalando"
global:
  namespace: "cnpg-zalando"
nodeSelector:
  kubernetes.io/hostname: vanillax-ai
users:
  enable_password_rotation: false
  replication_username: "repluser"
  super_username: "postgres"
postgres_pod_resources:
  default_cpu_request: "100m"
  default_memory_request: "100Mi"
  default_cpu_limit: "1000m"
  default_memory_limit: "1Gi"
timeouts:
  pod_label_wait_timeout: "10m"
  pod_deletion_wait_timeout: "10m"
  ready_wait_timeout: "30s"
