resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
rbac:
  create: true
  createRole: true
  useExistingRole: false
  namespaceLabelKey: "cnpg-zalando"
  clusterRoleBindingNamespace: "cnpg-zalando"
global:
  namespace: "cnpg-zalando"
