apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: redis
commonLabels:
  app.kubernetes.io/name: redis-commander
  app.kubernetes.io/managed-by: argocd
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - httproute.yaml
