apiVersion: apps/v1
kind: Deployment
metadata:
  name: frigate
  namespace: frigate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frigate
  template:
    metadata:
      labels:
        app: frigate
    spec:
      nodeSelector:
        google.feature.node.kubernetes.io/coral: "true"
      containers:
        - name: frigate
          image: ghcr.io/blakeblackshear/frigate:0.15.2
          env:
            - name: TZ
              value: "America/New_York"
            - name: FRIGATE_MQTT_USER
              valueFrom:
                secretKeyRef:
                  name: mqtt-secret
                  key: mqtt-username
            - name: FRIGATE_MQTT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mqtt-secret
                  key: mqtt-password
          resources:
            requests:
              cpu: 1000m
              memory: 2Gi
            limits:
              memory: 12Gi
              cpu: 12000m
          securityContext:
            privileged: true
            allowPrivilegeEscalation: true
          livenessProbe:
            httpGet:
              path: /api/version
              port: 5000
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/version
              port: 5000
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          volumeMounts:
            - name: config-dir
              mountPath: /config
            - name: config-file
              mountPath: /config/config.yml
              subPath: config.yml
            - name: media
              mountPath: /media
            - name: cache
              mountPath: /dev/shm
            - name: usb
              mountPath: /dev/bus/usb
      volumes:
        - name: config-dir
          emptyDir: {}
        - name: config-file
          configMap:
            name: frigate-configmap
            defaultMode: 0644
        - name: media
          persistentVolumeClaim:
            claimName: frigate-media
        - name: cache
          emptyDir:
            medium: Memory
            sizeLimit: 4Gi
        - name: usb
          hostPath:
            path: /dev/bus/usb
            type: Directory
