apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ns.yaml
  - cluster-issuer.yaml
  - onepass-secret.yaml
  - cloudflare-external-secret.yaml

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.16.1
    releaseName: cert-manager
    namespace: cert-manager
    valuesFile: values.yaml