apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-secrets

resources:
  - external-secret.yaml
  - cluster-secret-store.yaml
  - ns.yaml

  
helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    releaseName: external-secrets
    version: 0.17.0
    valuesFile: values.yaml
    
patches:
  - patch: |
      apiVersion: apiextensions.k8s.io/v1
      kind: CustomResourceDefinition
      metadata:
        name: externalsecrets.external-secrets.io
        annotations:
          "api-approved.kubernetes.io": "unapproved, request-not-required"
          "external-secrets.io/conversion-strategy": "none"
  - patch: |
      apiVersion: apiextensions.k8s.io/v1
      kind: CustomResourceDefinition
      metadata:
        name: clustersecretstores.external-secrets.io
        annotations:
          "api-approved.kubernetes.io": "unapproved, request-not-required"
          "external-secrets.io/conversion-strategy": "none"
    

commonAnnotations:
  argocd.argoproj.io/sync-wave: "-15"