apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cloudnative-pg
commonLabels:
  app.kubernetes.io/name: khoj-db
  app.kubernetes.io/managed-by: argocd
resources:
  - cluster.yaml
  - externalsecret.yaml
