# proxitok-web-statefulset.yaml
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: proxitok-web
  namespace: proxitok
spec:
  serviceName: proxitok-web
  replicas: 2
  selector:
    matchLabels:
      app: proxitok-web
  template:
    metadata:
      labels:
        app: proxitok-web
    spec:
      securityContext:
        fsGroup: 101
        fsGroupChangePolicy: "OnRootMismatch"
      initContainers:
        - name: wait-for-redis
          image: busybox
          command: ['sh', '-c', 'until nc -z proxitok-redis.proxitok.svc.cluster.local 6379; do echo waiting for redis; sleep 2; done;']
        - name: wait-for-chromedriver
          image: busybox
          command: ['sh', '-c', 'until nc -z proxitok-chromedriver.proxitok.svc.cluster.local 9515; do echo waiting for chromedriver; sleep 2; done;']
      containers:
        - name: proxitok-web
          image: ghcr.io/pablouser1/proxitok@sha256:1cbbff4b5b1c6ba8d585379ad71fc93950e340c3a5ae46dd3574e751a873bf8e
          securityContext:
            capabilities:
              add:
                - "CHOWN"
                - "SETGID"
                - "SETUID"
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: proxitok-config
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 15
          volumeMounts:
            - name: proxitok-cache
              mountPath: /cache
            - name: nginx-logs
              mountPath: /var/lib/nginx/logs
            - name: nginx-run
              mountPath: /run
      volumes:
        - name: nginx-logs
          emptyDir: {}
        - name: nginx-run
          emptyDir: {}
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: proxitok-cache
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: longhorn
        resources:
          requests:
            storage: 1Gi
