apiVersion: v1
kind: Service
metadata:
  name: comfyui-service
  namespace: comfyui
spec:
  selector:
    app: comfyui
  ports:
    - port: 8188
      targetPort: 8188
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: comfyui-nodeport
  namespace: comfyui
spec:
  selector:
    app: comfyui
  ports:
    - port: 8188
      targetPort: 8188
      nodePort: 30188
      protocol: TCP
  type: NodePort
